
body{
    background-color: white;
} 

.main-div{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 370px;
    width: 400px;
    height: 400px;
}
.first{
    height: 110px;
    margin: 10px;
    width: 60%;
    background: white;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}
.second{
    height: 100px;
    width:80%;
    margin: 10px;
    background: white;
    border: 2px solid black;
}
.third{
    width: 80%;
    height: 100px;
    margin: 10px;
    background: white;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;

}
.box{
    background-color:white;
    border: 2px solid black;
    height: 50px;
    margin: 10px;
    width: 300px;
    padding: 10px;
}

